<div class="w-full">
  <div id="pages" class="min-w-full">
    OpenShiro by Duncan Miller
    <p>Ruby <%= RUBY_VERSION %> on Rails <%= Rails.version %></p>
    <p class="mt-8">Thanks for visiting, we are in alpha right now but check back soon.</p>
    <p class="mt-4">OpenShiro registered as an Oregon Benefit Company and an open startup, you can view our source code at: <%= link_to "https://github.com/duncantmiller/openshiro" %>.</p>
    <p class="mt-4">- Duncan</p>
    <p class="mt-4">Email me: <%= mail_to "hello@openshiro.com" %></p>
  </div>
</div>
