<div class="w-full">
  <div id="pages" class="min-w-full">
    OpenShiro by Duncan Miller
    <p>Ruby <%= RUBY_VERSION %> on Rails <%= Rails.version %></p>
    <p class="mt-8">Thanks for visiting, we are in alpha right now but check back soon.</p>
    <p>- Duncan</p>
  </div>
</div>
